<?xml version="1.0" standalone="yes" ?> 
<package version="2.1" displayname="Featured Products" debug="false" includeentityhelper="false"> 
    <!-- ###################################################################################################### --> 
    <!-- Copyright AspDotNetStorefront.com, 1995-2009.  All Rights Reserved.                                    --> 
    <!-- http://www.aspdotnetstorefront.com                                                                        --> 
    <!-- For details on this license please visit  the product homepage at the URL above.                        --> 
    <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   --> 
    <!--                                                                                                        --> 
    <!-- ###################################################################################################### --> 
    <query name="FeaturedProducts" rowElementName="Product" > 
        <sql> 
            <![CDATA[ 
                exec aspdnsf_GetFeaturedProducts @FeaturedSectionID, @NumHomePageFeaturedProducts, @CustomerLevelID                     
            ]]> 
        </sql> 
        <queryparam paramname="@NumHomePageFeaturedProducts" paramtype="runtime" requestparamname="NumHomePageFeaturedProducts" sqlDataType="int" defvalue="12"  validationpattern="" /> 
        <queryparam paramname="@FeaturedSectionID" paramtype="appconfig" requestparamname="isFeaturedSectionID" sqlDataType="int" defvalue="0"  validationpattern="" /> 
        <queryparam paramname="@CustomerLevelID"   paramtype="system"  requestparamname="CustomerLevelID" sqlDataType="int" defvalue="0"  validationpattern="" /> 
    </query> 
    <PackageTransform> 
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform"  
                        xmlns:aspdnsf="urn:aspdnsf"  
                        exclude-result-prefixes="aspdnsf" > 
            <xsl:output method="html" omit-xml-declaration="yes" /> 
            <xsl:param name="CustomerID" select="/root/Runtime/CustomerID" /> 
            <xsl:variable name="SpecialsCount" select="count(/root/FeaturedProducts/Product)" /> 
            <xsl:param name="FeaturedSectionID" select="aspdnsf:AppConfig('IsFeaturedSectionID')" /> 
            <xsl:param name="AltText"> 
                <xsl:choose> 
                    <xsl:when test="aspdnsf:GetMLValue(SEAltText)=''"> 
                        <xsl:value-of select="aspdnsf:GetMLValue(Name)" /> 
                    </xsl:when> 
                    <xsl:otherwise> 
                        <xsl:value-of select="aspdnsf:GetMLValue(SEAltText)" /> 
                    </xsl:otherwise> 
                </xsl:choose> 
            </xsl:param> 
			
            <xsl:template match="/" > 
                <xsl:if test="count(/root/FeaturedProducts/Product) &gt; 0"> 
				<div style="text-align:center">
				<div class="rbgx-featured">
									<!--Blowout Specials-->
									</div>
<table width="100%" cellpadding="4" cellspacing="0" border="0"> 
        <tr>
		<td colspan="3" class="featuredTeaser" align="left" valign="top"> 
            <!--<xsl:value-of select="aspdnsf:StringResource('default.aspx.2')"/> -->
        </td>
		</tr> 
		
        <xsl:for-each select="/root/FeaturedProducts/Product[position() mod 3 = 1]">
		<tr> 
           <xsl:for-each select=".|following-sibling::Product[position() &lt; 3]"> 
        <td valign="top"> 
            <table width="100%" cellpadding="4" cellspacing="0" border="0"> 
            <tr><td  valign="top" class="rbgimg"> 
              <xsl:value-of select="aspdnsf:LookupProductImage(ProductID, ImageFilenameOverride, SKU, 'icon', 1, $AltText)" disable-output-escaping="yes"/> 
            </td></tr> 
			
            <tr><td style="padding-left: 10px;" align="center" valign="top"> 
             <div class="featuredProductLinks">
			 <xsl:value-of select="aspdnsf:ProductLink(ProductID, SEName, 1, aspdnsf:GetMLValue(Name))" disable-output-escaping="yes" /></div>
			 </td></tr>
			 
			 <tr><td align="left" valign="bottom">  
				<div class="featuredProductPrice">
                <xsl:value-of select="aspdnsf:GetVariantPrice(VariantID, number(HidePriceUntilCart), Price, SalePrice, ExtendedPrice, Points, aspdnsf:GetMLValue(SalesPromptName), TaxClassID)" disable-output-escaping="yes" />
				</div><br/> 
            </td></tr> 
            </table> 
        </td> 
        </xsl:for-each> 
        </tr> 
    </xsl:for-each> 
</table> 
</div>
                </xsl:if> 
            </xsl:template> 
			
            <xsl:template match="Product" > 
                <li> 
                    <xsl:value-of select="aspdnsf:GetMLValue(Name)" disable-output-escaping="yes" /> 
                    <xsl:variable name="price" select="SalePrice"> 
                    </xsl:variable> 
                    <xsl:value-of select="aspdnsf:GetVariantPrice(VariantID, HidePriceUntilCart, Price, 0, 0, Points, '')" disable-output-escaping="yes"/> 
                </li> 
            </xsl:template> 
        </xsl:stylesheet> 
    </PackageTransform> 
</package>