<?xml version="1.0"?>
<configuration>
	<configSections>
		<!-- URL Rewriter and XSLT Extension Objects Loader                                                                                         -->
		<sectionGroup name="system.web">
			<section name="urlrewrites" type="ASPDNSF.URLRewriter.Rewriter,ASPDNSF.URLRewriter" requirePermission="false"/>
			<section name="xsltobjects" type="XsltObjects.ExtensionConfigurationHandler, XsltObjects" requirePermission="false"/>
		</sectionGroup>
		<!-- WSI Web Service Interface                                                                                                              -->
		<!-- There are four separate sections within this file that need to be uncommented. This is section 1 of 4.                                 -->
		<!-- WSI Web Service Interface (Section 1 of 4) Uncomment the following line to enable WSI Web Service Interface                            -->
		<!--
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    -->
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<!--<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
                    <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>-->
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<!-- Forms Authentication Control.                                                                                                            -->
	<location path="signin.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="germedusa.com" allowOverride="true">
		<system.web>
			<trust level="Full" originUrl=""/>
		</system.web>
	</location>
	<location path="lostpassword.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<appSettings>
		<!-- Encryption Settings:                                                                                                                   -->
		<!-- EncryptKey: You make up your own encrypt key. Just make sure you don't lose it later. It can be any series of letters and              -->
		<!-- digits you want. An example Encrypt Key could be: asdfkwjer8374322fawERLKF                                                             -->
		<!--                                                                                                                                        -->
		<!-- Used to encrypt passwords and credit card numbers for security. You must fill in a value below to use for your EncryptKey              -->
		<!-- Please keep this key safe and secure, and if you lose it, there is NO way to recover it, or any data that has been encrypted in your   -->
		<!-- database.                                                                                                                              -->
		<!--                                                                                                                                        -->
		<!-- If you want to store your EncryptKey in your Windows Registry, enter REGISTRY below as your key, and consult our manual for directions -->
		<add key="EncryptKey" value="stAspaqu4e9Etaya368fay7sw3stufru82apUd4Breyup4qe5Uya9hecRubr7bej"/>
		<!--                                                                                                                                        -->
		<!-- DBConn SETTING FOR CONNECTING TO SQL SERVER                                                                                            -->
		<!-- Sample MSSQL DBConn "value", using SQL Server Authentication:                                                                          -->
		<!-- "data source=xxx.xxx.xxx.xxx;initial catalog=AspDotNetStorefront;user id=TBD;password=TBD;persist security info=True;packet size=4096"    -->
		<!--                                                                                                                                        -->
		<!-- Sample MSSQL DBConn "value", using Windows Authentication:                                                                             -->
		<!-- "data source=xxx.xxx.xxx.xxx;initial catalog=AspDotNetStorefront;integrated security=SSPI;persist security info=False;Trusted_Connection=Yes" -->
		<!--                                                                                                                                        -->
		<!-- Contact your hosting company for the correct DBConn connection string if you are not sure what to use                                  -->
		<!--<add key="DBConn" value="data source=sql2k5d.appliedi.net;initial catalog=rbg-germedusa;user id=germedusa;password=2uwrE3we;persist security info=True;packet size=4096"/>
      <add key="DBConn" value="data source=(local)\SQLExpress;initial catalog=GerMedUSA;user id=germedsqluser;password=Ger$1212USA516HaBo_;persist security info=True;packet size=4096"/>-->
		<add key="DBConn" value="data source=(local);initial catalog=GerMedUSA;user id=germedsqluser;password=Ger$1212USA516HaBo_;persist security info=True;packet size=4096"/>
		<!--                                                                                                                                        -->
		<!-- THIS NEXT LINE VALUE MUST MATCH THE LANGUAGE OF THE LOGIN (e.g. user id) USED ABOVE -->
		<add key="DBSQLServerLocaleSetting" value="en-US"/>
		<!--                                                                                                                                        -->
		<!-- DelayedCustomerCreation:  should usually be true. Set to false if you want every site visitor to get a customer record, even if they   -->
		<!--                           never do anything on the site (not recommended for high traffic sites)                                       -->
		<add key="DelayedCustomerCreation" value="true"/>
		<!--                                                                                                                                        -->
		<!-- The following two variables can be set to put up a site down for maintenance page. Set to true, and specify the maintenance page       -->
		<!-- the site down for maintenance page must be a PLAIN HTM OR HTML FILE. It cannot be an .aspx page                                        -->
		<add key="SiteDownForMaintenance" value="false"/>
		<add key="SiteDownForMaintenancePage" value="default.htm"/>
		<!--                                                                                                                                        -->
		<add key="LocalizationFormControlProperties" value="Text,Value,ErrorMsg,ErrorMessage,AlternateText,ImageUrl"/>
		<!--Email-->
		<add key="SMTPHost" value="mail.germedusa.com"/>
		<add key="SMTPUsername" value="notifications@germedusa.com"/>
		<add key="SMTPPort" value="2525"/>
		<add key="SMTPPwd" value="M12125757"/>
		<add key="EmailFrom" value="notifications@germedusa.com"/>
		<!--Email ends-->
	</appSettings>
	<system.web>
		<healthMonitoring enabled="true" heartbeatInterval="0">
			<providers>
				<add name="MailWebEventProvider" type="System.Web.Management.SimpleMailWebEventProvider" to="amitgandotra@hotmail.com" from="notifications@germedusa.com" buffer="true" bufferMode="Notification" subjectPrefix="GerMedUSA Site"/>
			</providers>
			<rules>
				<remove name="Initial Mail Event Providers"/>
				<add name="Initial Mail Event Providers" eventName="All Errors" provider="MailWebEventProvider" profile="Critical"/>
			</rules>
			<bufferModes>
				<remove name="Notification"/>
				<add name="Notification" maxBufferSize="100" maxFlushSize="25" regularFlushInterval="00:01:00" urgentFlushThreshold="25" urgentFlushInterval="00:00:01" maxBufferThreads="1"/>
			</bufferModes>
		</healthMonitoring>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="execpackage.aspx" type="ExecXmlPackage"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
		<!-- WSI Web Service Interface (Section 2 of 4) Uncomment the following 12 lines to enable WSI Web Service Interface                      -->
		<!--
    <webServices>
        <protocols>
          <add name="HttpSoap12"/>
          <add name="HttpSoap"/>
          <add name="HttpPostLocalhost"/>
          <add name="Documentation"/>
        </protocols>
        <soapExtensionImporterTypes>
          <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        </soapExtensionImporterTypes>
        <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </webServices>
    -->
		<!-- store site should NOT allow html submits -->
		<pages validateRequest="true">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>
		<!-- Add your own custom XSLTExtensionObjects here                                                                                        -->
		<xsltobjects defaultExtension="">
			<extensions>
				<clear/>
				<add name="receipt" namespace="urn:receipt" type="ReceiptXsltExtension, app_code"/>
			</extensions>
		</xsltobjects>
		<!-- URL Rewriter Rules                                                                                                                   -->
		<urlrewrites>
			<rule url="/skin-([\w-]+)\.aspx(?:\?(.*))?" rewrite="/default.aspx?SkinID=$1&amp;$2"/>
			<rule url="/e-(.*?)\.aspx(?:\?(.*))?" rewrite="/engine.aspx?XmlPackage=$1&amp;$2"/>
			<rule url="/locale-([\w-]+)\.aspx(?:\?(.*))?" rewrite="/setlocale.aspx?LocaleSetting=$1&amp;$2"/>
			<rule url="/t-([\w-]+)\.aspx(?:\?(.*))?" rewrite="/driver.aspx?Topic=$1&amp;$2"/>
			<rule url="/t2-([\w-]+)\.aspx(?:\?(.*))?" rewrite="/driver2.aspx?Topic=$1&amp;$2"/>
			<rule url="/tp-([\w-]+)\.aspx(?:\?(.*))?" rewrite="/driverpopup.aspx?Topic=$1&amp;$2"/>
			<rule url="/c-([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?" rewrite="/showcategory.aspx?CategoryID=$1&amp;SEName=$2&amp;$3"/>
			<rule url="/d-([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?" rewrite="/showdistributor.aspx?DistributorID=$1&amp;SEName=$2&amp;$3"/>
			<rule url="/g-([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?" rewrite="/showgenre.aspx?GenreID=$1&amp;SEName=$2&amp;$3"/>
			<rule url="/v-([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?" rewrite="/showvector.aspx?VectorID=$1&amp;SEName=$2&amp;$3"/>
			<rule url="/s-([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?" rewrite="/showsection.aspx?SectionID=$1&amp;SEName=$2&amp;$3"/>
			<rule url="/m-([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?" rewrite="/showmanufacturer.aspx?ManufacturerID=$1&amp;SEName=$2&amp;$3"/>
			<rule url="/p-([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?" rewrite="/showproduct.aspx?ProductID=$1&amp;SEName=$2&amp;$3"/>
			<rule url="/pc-([0-9]*)-([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?" rewrite="/showproduct.aspx?ProductID=$1&amp;CategoryID=$2&amp;SEName=$3&amp;$4"/>
			<rule url="/pd-([0-9]*)-([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?" rewrite="/showproduct.aspx?ProductID=$1&amp;DistributorID=$2&amp;SEName=$3&amp;$4"/>
			<rule url="/ps-([0-9]*)-([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?" rewrite="/showproduct.aspx?ProductID=$1&amp;SectionID=$2&amp;SEName=$3&amp;$4"/>
			<rule url="/pm-([0-9]*)-([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?" rewrite="/showproduct.aspx?ProductID=$1&amp;ManufacturerID=$2&amp;SEName=$3&amp;$4"/>
			<rule url="/dl-([0-9]*)-([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?" rewrite="/showdocument.aspx?DocumentID=$1&amp;LibraryID=$2&amp;SEName=$3&amp;$4"/>
			<rule url="/l-([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?" rewrite="/showlibrary.aspx?LibraryID=$1&amp;SEName=$2&amp;$3"/>
			<rule url="/x-(.*?)\.aspx(?:\?(.*))?" rewrite="/execpackage.aspx?XmlPackage=$1&amp;$2"/>
		</urlrewrites>
		<!--  DYNAMIC DEBUG COMPILATION: Set compilation debug="true" to enable ASPX debugging.  Otherwise, "false" will improve runtime performance of this application. -->
		<compilation debug="true" defaultLanguage="c#">
			<assemblies>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices.Protocols, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<!--  CUSTOM ERROR MESSAGES: Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable.                -->
		<customErrors mode="Off">
			<!-- This will redirect 404 error on PageNotFound.aspx ,this will work only for file-types that IIS passes to ASP.NET  -->
			<error statusCode="404" redirect="PageNotFound.aspx"/>
		</customErrors>
		<!--  AUTHENTICATION: Sets the authentication policies of the application. Possible modes are "Windows", "Forms", "Passport" and "None"   -->
		<authentication mode="Forms">
			<forms name="ASPDNSFGUID" loginUrl="SignIn.aspx" timeout="525600"/>
		</authentication>
		<!--  AUTHORIZATION: This section sets the authorization policies of the application. You can allow or deny access
        to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous (unauthenticated) users.                      -->
		<authorization>
			<allow users="*"/>
		</authorization>
		<!--  APPLICATION-LEVEL TRACE LOGGING: Enables trace log output for every page within an application. Set to "true" to enable application
        trace logging. If pageOutput="true", the trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
        application trace log by browsing the "trace.axd" page from your web application root.                                                    -->
		<trace enabled="true" mostRecent="true"/>
		<!--  SESSION STATE SETTINGS: By default ASP.NET uses cookies to identify which requests belong to a particular session.                  -->
		<sessionState mode="InProc" cookieless="false" timeout="20"/>
		<!--  GLOBALIZATION This section sets the globalization settings of the application.                                                      -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="en-US"/>
		<!-- use a key generator like http://aspnetresources.com/tools/keycreator.aspx to generate a unique machineKey                            -->
		<machineKey validationKey="C8B2A94E74802556A34F886FB6E83F19B47CA2CBE5EAB4F50CDA833D163459988E77CC6A6127318ABB67B7E20E65EDD93377CD93C10599018D6C94E71BE154E0" decryptionKey="D0BA80DDD35559B5CD533055F8766540EC73E37BAF3911B2" validation="SHA1"/>
		<trust level="Full"/>
	</system.web>
	<!-- WSI Web Service Interface (Section 4 of 4) Uncomment the following 7 lines to enable WSI Web Service Interface                           -->
	<!-- 
  <microsoft.web.services3>
    <security>
        <securityTokenManager>
          <add type="AspDotNetStorefront.ASPDNSFUsernameTokenManager" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" localName="UsernameToken"/>
        </securityTokenManager>
      </security>
  </microsoft.web.services3>
  -->
	<system.webServer>
		<staticContent>
			<remove fileExtension=".pem"/>
			<!--<mimeMap fileExtension=".pem" mimeType="text/plain" />-->
			<mimeMap fileExtension=".licx" mimeType="text/plain"/>
			<mimeMap fileExtension=".pem" mimeType="text/plain"/>
		</staticContent>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="Exececute Xml Package" preCondition="integratedMode" path="execpackage.aspx" verb="*" type="ExecXmlPackage"/>
		</handlers>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</modules>
		<validation validateIntegratedModeConfiguration="false"/>
		<tracing>
			<traceFailedRequests>
				<add path="*">
					<traceAreas>
						<add provider="ASP" verbosity="Verbose"/>
						<add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose"/>
						<add provider="ISAPI Extension" verbosity="Verbose"/>
						<add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,Rewrite" verbosity="Verbose"/>
					</traceAreas>
					<failureDefinitions statusCodes="401.3-999,405"/>
				</add>
			</traceFailedRequests>
		</tracing>
		<httpRedirect enabled="false" destination="" exactDestination="false" httpResponseStatus="Found"/>
	</system.webServer>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.net>
		<mailSettings>
			<smtp from="notifications@germedusa.com">
				<network host="mail.germedusa.com" password="M12125757" userName="notifications@germedusa.com"/>
			</smtp>
		</mailSettings>
	</system.net>
	
	</configuration>
