.TopMenuGroup
{
  border:solid 0px #003167;
  background-color:transparent;
}

.MenuGroup
{

  background-color:#0C2342;
}

.TopMenuItem
{
  color:white;
  font-family: tahoma;
  font-size: 8.5pt;
  font-weight: normal;
  cursor:pointer;  
  padding-bottom:5px;
    padding-left:20px;
    padding-right:20px;
}

.TopMenuItemHover
{
  color:white;
   font-family: tahoma;
  font-size: 8.5pt;
  font-weight: normal;
  cursor:pointer;  
    padding-bottom:5px;
    padding-left:20px;
    padding-right:20px;
  background: url(images/menuHover.jpg);
  width: 90px;
}

.MenuItem
{
  background-color:#0C2342;
  color:#ffffff;
  font-family:verdana;
  font-size:11px;
  border: solid 1px #061B38;
  cursor:pointer;
  width:100%;
}

.MenuItemHover
{
  background-color:#1053AD;
  color:#ffffff;
  font-family:verdana;
  font-size:11px;
  border: solid 1px #061B38;
  cursor:pointer;
}

.ScrollItem
{
   background-color:#012352; 
  font-family:verdana; 
  font-size:11px; 
  cursor:default;
  text-align:center;
}

.ScrollItemH
{
  background-color: #FFC000; 
  color:black; 
  font-family:verdana; 
  font-size:11px; 
  cursor:default;
  text-align:center;
}

.ScrollItemA
{
  background-color: darkgray; 
  color:black; 
  font-family:verdana; 
  font-size:11px; 
  cursor:default;
  text-align:center;
}
