<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Featured Products" debug="false" includeentityhelper="false">

	<!-- ###################################################################################################### -->
	<!-- Copyright AspDotNetStorefront.com, 1995-2009.  All Rights Reserved.					                -->
	<!-- http://www.aspdotnetstorefront.com														                -->
	<!-- For details on this license please visit  the product homepage at the URL above.		                -->
	<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
	<!--                                                                                                        -->
	<!-- ###################################################################################################### -->

	<query name="FeaturedProducts" rowElementName="Product" >
		<sql>
			<![CDATA[
			
				exec aspdnsf_GetFeaturedProducts @FeaturedCategoryID, @NumHomePageFeaturedProducts, @CustomerLevelID					
            ]]>
		</sql>
		<queryparam paramname="@NumHomePageFeaturedProducts" paramtype="runtime" requestparamname="NumHomePageFeaturedProducts" sqlDataType="int" defvalue="5"  validationpattern="" />
		<queryparam paramname="@FeaturedCategoryID" paramtype="appconfig" requestparamname="isFeaturedCategoryID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@CustomerLevelID"   paramtype="system"  requestparamname="CustomerLevelID" sqlDataType="int" defvalue="0"  validationpattern="" />
	</query>
	
	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" 
						xmlns:aspdnsf="urn:aspdnsf" 
						exclude-result-prefixes="aspdnsf" >
			<xsl:output method="html" omit-xml-declaration="yes" />
			<xsl:param name="CustomerID" select="/root/Runtime/CustomerID" />
			<xsl:variable name="SpecialsCount" select="count(/root/FeaturedProducts/Product)" />
			<xsl:param name="FeaturedCategoryID" select="aspdnsf:AppConfig('IsFeaturedCategoryID')" />
			<xsl:param name="AltText">
				<xsl:choose>
					<xsl:when test="aspdnsf:GetMLValue(SEAltText)=''">
						<xsl:value-of select="aspdnsf:GetMLValue(Name)" />
					</xsl:when>
					<xsl:otherwise>
						<xsl:value-of select="aspdnsf:GetMLValue(SEAltText)" />
					</xsl:otherwise>
				</xsl:choose>
			</xsl:param>
			
			<xsl:template match="/" >
				
				<xsl:if test="count(/root/FeaturedProducts/Product) &gt; 0">
					<table width="100%" cellpadding="2" cellspacing="0" border="0" style="border-style: solid; border-width: 0px; border-color: #444444">
						<tr>
							<td align="left" valign="top">
								<a>
									<xsl:attribute name="href">
										<xsl:value-of select="concat('showcategory.aspx?categoryid=', $FeaturedCategoryID, '&#38;resetfilter=true')"/>
									</xsl:attribute>
									<img src="{aspdnsf:LocateImageURL(concat('skins/Skin_', /root/System/SkinID, '/images/Specialsexpanded.gif'))}" border="0"/>
								</a>
								<table width="100%" cellpadding="4" cellspacing="0" border="0" style="border-style: solid; border-width: 1px; border-color: #444444;">
									<tr>
										<td class="featuredTeaser" align="left" valign="top">
											<xsl:value-of select="aspdnsf:StringResource('default.aspx.2')"/>
										</td>
									</tr>
									<xsl:for-each select="/root/FeaturedProducts/Product" >
										<tr>
											<td>
												<table width="100%" cellpadding="0" cellspacing="0" border="0">
													<tr>
														<td style="width: 150px;" align="left" valign="top">
															<xsl:value-of select="aspdnsf:LookupProductImage(ProductID, ImageFilenameOverride, SKU, 'icon', 1, $AltText)" disable-output-escaping="yes"/>
														</td>
														<td style="padding-left: 10px;" align="left" valign="top">
															<div class="featuredProductLinks">
																<xsl:value-of select="aspdnsf:ProductLink(ProductID, SEName, 1, aspdnsf:GetMLValue(Name))" disable-output-escaping="yes" />
															</div>
															<div class="featuredProductDescription">
																<xsl:value-of select="aspdnsf:GetMLValue(Description)" disable-output-escaping="yes" />
															</div>

															<div class="featuredProductPrice">
																<xsl:value-of select="aspdnsf:GetVariantPrice(VariantID, number(HidePriceUntilCart), Price, SalePrice, ExtendedPrice, Points, aspdnsf:GetMLValue(SalesPromptName), TaxClassID)" disable-output-escaping="yes" />
															</div>
															
															<div>
																<a href="{aspdnsf:ProductLink(ProductID, SEName, 0, '')}">
																	<xsl:value-of select="aspdnsf:StringResource('common.cs.33')" disable-output-escaping="yes" />
																</a>
															</div>															
														</td>
													</tr>
													<tr>
														<td colspan="2">
															<hr size="1" class="LightCellText"/>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</xsl:for-each>
									<xsl:if test="$SpecialsCount > 0">
										<tr>
											<td colspan="2">
												<a>
													<xsl:attribute name="href">
														<xsl:value-of select="concat('showcategory.aspx?categoryid=', $FeaturedCategoryID, '&#38;resetfilter=true')"/>
													</xsl:attribute>
													<xsl:value-of select="aspdnsf:StringResource('common.cs.62')" disable-output-escaping="yes" />
												</a>
											</td>
										</tr>
									</xsl:if>
								</table>
							</td>
						</tr>
					</table>
				</xsl:if>
				
			</xsl:template>

			<xsl:template match="Product" >
				<li>
					<xsl:value-of select="aspdnsf:GetMLValue(Name)" disable-output-escaping="yes" />
					<xsl:variable name="price" select="SalePrice">
					</xsl:variable>
					<xsl:value-of select="aspdnsf:GetVariantPrice(VariantID, HidePriceUntilCart, Price, 0, 0, Points, '')" disable-output-escaping="yes"/>
				</li>
			</xsl:template>

		</xsl:stylesheet>
	</PackageTransform>
</package>

