<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Featured Products" debug="false" includeentityhelper="false">

	<!-- ###################################################################################################### -->
	<!-- Copyright AspDotNetStorefront.com, 1995-2009.  All Rights Reserved.					                -->
	<!-- http://www.aspdotnetstorefront.com														                -->
	<!-- For details on this license please visit  the product homepage at the URL above.		                -->
	<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
	<!--                                                                                                        -->
	<!-- ###################################################################################################### -->
	<query name="News" rowElementName="NewsItem" >
		<sql>
			<![CDATA[
			
				exec [aspdnsf_GetNews] @NumHomeNewsToDisplay
				
            ]]>
		</sql>
		<queryparam paramname="@NumHomeNewsToDisplay" paramtype="runtime" requestparamname="NumHomeNewsToDisplay" sqlDataType="int" defvalue="3"  validationpattern="" />
	</query>
	
	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" 
						xmlns:aspdnsf="urn:aspdnsf" 
						exclude-result-prefixes="aspdnsf" >
			<xsl:output method="html" omit-xml-declaration="yes" />
			
			<xsl:param name="CustomerID" select="/root/Runtime/CustomerID" />
			
			<xsl:variable name="NewsItemsCount" select="count(/root/News/NewsItem)" />
			
			<xsl:template match="/" >
				<xsl:if test="$NewsItemsCount &gt; 0">
				
				<table width="100%" cellpadding="2" cellspacing="0" border="0" style="border-style: solid; border-width: 0px; border-color: #444444">
					<tr>
						<td align="left" valign="top">
							<a href="news.aspx">
								<img src="skins/Skin_1/images/newsexpanded.gif" border="0" />
							</a>
							<br />
							<table width="100%" cellpadding="4" cellspacing="0" border="0" style="border-style: solid; border-width: 1px; border-color: #444444;">
								<tr>
									<td align="left" valign="top">
										<div style="color: #000000; font-weight: bold; padding-bottom: 20px;">
											<xsl:value-of select="aspdnsf:StringResource('default.aspx.3')" disable-output-escaping="yes"/>
										</div>
										
										<xsl:for-each select="/root/News/NewsItem" >
											<xsl:call-template name="NewsItem"/>
										</xsl:for-each>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>	
				
				</xsl:if>
				
			</xsl:template>

			
			
			<xsl:template name="NewsItem" >
				
				<table width="100%" cellpadding="2" cellspacing="0" border="0">
					<tr>
						<td width="15%" align="left" valign="top">
							<div align="left" style="color: #000000; font-weight: bold;">
								<xsl:value-of select="aspdnsf:GetNativeShortDateString(CreatedOn)" disable-output-escaping="yes"/>
							</div>
						</td>
						<td align="left" valign="top">
							<div align="left" style="color: #000000; font-weight: bold;">
								<a>
									<xsl:attribute name="href">
										<xsl:value-of select="concat('news.aspx?showarticle=', NewsID)"/>
									</xsl:attribute>
									<xsl:value-of select="Headline" disable-output-escaping="yes"/>
								</a>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<xsl:if test="position() != last()">
								<hr size="1" color="#CCCCCC" />
							</xsl:if>
						</td>
					</tr>			
				</table>
			</xsl:template>

		</xsl:stylesheet>
	</PackageTransform>
</package>

