<?xml version="1.0" standalone="yes" ?>
<!-- ###################################################################################################### -->
<!-- Copyright AspDotNetStorefront.com, 1995-2009.  All Rights Reserved.					                -->
<!-- http://www.aspdotnetstorefront.com														                -->
<!-- For details on this license please visit  the product homepage at the URL above.		                -->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
<!-- ###################################################################################################### -->
<package debug="false">
  <query name="FeaturedProducts" rowElementName="Product" >
    <sql>
      <![CDATA[
			
				declare @numSpecialDisplay int 
				if @NumHomePageFeaturedProducts = 0 
					select @numSpecialDisplay = configvalue from appconfig where name = 'NumHomePageSpecials'		
				else
					select @numSpecialDisplay = @NumHomePageFeaturedProducts
					
				select top (@numSpecialDisplay) 
					p.ProductID,
					p.ImageFilenameOverride,
					p.SKU,
					p.SEName,
					p.Name,
					p.Description,
					p.TaxClassID,
					pv.VariantID, 
					p.HidePriceUntilCart,
					pv.name VariantName, 
					pv.Price, 
					pv.Description VariantDescription, 
					isnull(pv.SalePrice, 0) SalePrice, 
					isnull(SkuSuffix, '') SkuSuffix, 
					pv.Dimensions, 
					pv.Weight, 
					isnull(pv.Points, 0) Points, 
					pv.Inventory, 
					pv.ImageFilenameOverride VariantImageFilenameOverride,  
					pv.isdefault, 
					pv.CustomerEntersPrice, 
					isnull(pv.colors, '') Colors, 
					isnull(pv.sizes, '') Sizes, 
					sp.name SalesPromptName,
					case when pcl.productid is null then 0 else isnull(e.Price, 0) end ExtendedPrice		   
				from ProductCategory pc with (NOLOCK) 
				inner join Product p with (NOLOCK) on pc.ProductID = p.ProductID 
				inner join ProductVariant pv with (NOLOCK) on pv.ProductID = p.ProductID and pv.IsDefault = 1
				join dbo.SalesPrompt sp with (NOLOCK) on p.SalesPromptID = sp.SalesPromptID 
				left join dbo.ExtendedPrice e  with (NOLOCK) on pv.VariantID=e.VariantID and e.CustomerLevelID = @CustomerLevelID 
				left join dbo.ProductCustomerLevel pcl with (NOLOCK) on p.ProductID = pcl.ProductID and pcl.CustomerLevelID = @CustomerLevelID 
				where pc.CategoryID=@FeaturedCategoryID and p.Deleted=0
				order by newid()
			
					
            ]]>
    </sql>
    <queryparam paramname="@NumHomePageFeaturedProducts" paramtype="runtime" requestparamname="NumHomePageFeaturedProducts" sqlDataType="int" defvalue="0"  validationpattern="" />
    <queryparam paramname="@FeaturedCategoryID" paramtype="appconfig" requestparamname="isFeaturedCategoryID" sqlDataType="int" defvalue="0"  validationpattern="" />
    <queryparam paramname="@CustomerLevelID"   paramtype="system"  requestparamname="CustomerLevelID" sqlDataType="int" defvalue="0"  validationpattern="" />
  </query>
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
      <!-- aspdnsf:no-system-required -->
      <xsl:output method="xml" encoding="utf-8" />

      <xsl:template match="/">
        <xsl:copy-of select="root/FeaturedProducts" />
      </xsl:template>

    </xsl:stylesheet>
  </PackageTransform>
</package>
