<?xml version="1.0" standalone="yes" ?>
<!-- ###################################################################################################### -->
<!-- Copyright AspDotNetStorefront.com, 1995-2009.  All Rights Reserved.					                -->
<!-- http://www.aspdotnetstorefront.com														                -->
<!-- For details on this license please visit  the product homepage at the URL above.		                -->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
<!-- ###################################################################################################### -->
<package debug="false">
	<query name="News" rowElementName="NewsItem" >
		<sql>
			<![CDATA[
			
				select TOP(@NumHomeNewsToDisplay) * from News  with (NOLOCK)  where ExpiresOn > getdate() and Deleted = 0 and Published = 1 
				order by NewsId desc --order by CreatedOn desc
				
            ]]>
		</sql>
		<queryparam paramname="@NumHomeNewsToDisplay" paramtype="runtime" requestparamname="NumHomeNewsToDisplay" sqlDataType="int" defvalue="0"  validationpattern="" />
	</query>
	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
			<!-- aspdnsf:no-system-required -->
			<xsl:output method="xml" encoding="utf-8" />

			<xsl:template match="/">
				<xsl:copy-of select="root/News" />
			</xsl:template>

		</xsl:stylesheet>
	</PackageTransform>
</package>
